<div class='row'>
  <div class='col-sm-3 col-md-3 col-lg-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">My Info</h1>
      </div>
      <div class="row panel-body" id="profile-img">
        <%= image_tag @user_info.profile_image_url.to_s.sub("_normal.","."), size: "200x200", class: "img-responsive center-block" %></img>
      </div>
      <div class="panel-body">
        <ul class="profile-info">
          <li><%= @user_info.name %></li>
          <li>Screen Name: <%= @user_info.screen_name %></li>
          <li>Followers: <%= @user_info.followers_count %></li>
          <li>Following: <%= link_to "#{@user_info.friends_count}", friends_path %></li>
          <li>Tweets: <%= @user_info.statuses_count %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= form_tag tweets_path do %>
        <%= text_area_tag :tweet, nil, placeholder: "What's on your mind?", class: "form-control" %><br>
        <%= submit_tag "Tweet This!", class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= render partial: "dashboard/tweet_stream" %>
    </div>
  </div>
  <div class='col-sm-3 col-md-3 col-lg-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">My Recent Tweets</h2>
      </div>
      <%= render partial: "dashboard/my_tweets" %>
    </div>
  </div>
</div>
