<div class='row'>
  <div class='col-sm-3 col-md-3 col-lg-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">My Info</h1>
      </div>
      <div class="panel-body">
        <%= image_tag @user.profile_image_url.to_s.sub("_normal.","."), size: "200x200" %>
      </div>
      <div class="panel-body">
        <ul class="profile-info">
          <li><%= @user.name %></li>
          <li>Screen Name: <%= @user['screen_name'] %></li>
          <li>Followers: <%= @user['followers_count'] %></li>
          <li>Following: <%= @user['friends_count'] %></li>
          <li>Tweets: <%= @user["statuses_count"] %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= form_tag tweets_path do %>
        <%= text_area_tag :tweet, nil, placeholder: "What's on your mind?", class: "form-control" %><br>
        <%= submit_tag "Tweet This!", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% @tweets.each do |tweet| %>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><%= image_tag(tweet["user"]["profile_image_url"].to_s.sub("_normal.","."), size: "25x25") %>
              <h6><%= tweet['user']['name'] %> | @<%= tweet['user']['screen_name'] %> | Retweeted <%= tweet["retweet_count"] %>
                <%= link_to favorites_path(tweet: tweet.id), method: :post do %>
                                      <i class="glyphicon glyphicon-heart"></i></h6>
                                    <% end %></li></h6></li>
            <li class="list-group-item"><%= tweet.text %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-sm-3 col-md-3 col-lg-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">My Recent Tweets</h2>
      </div>
      <% @my_tweets.each do |tweet| %>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item"><h6 class="my-tweets">Retweeted <%= tweet["retweet_count"] %><%= button_to tweet_path(tweet["id"]), data: {confirm: "Are you sure?"}, method: :delete do %>
                                  <i class="glyphicon glyphicon-trash"></i></h6>
                                <% end %></li>
            <li class="list-group-item"><%= link_to 'edit this tweet', edit_tweet_path(tweet["id"])%></li>
            <li class="list-group-item"><%= tweet.text %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
